<div class="skills bg-dark text-white p-5 ">
  <div class="text-center p-4">
    <h2>Skills</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
<div class=" d-flex justify-content-evenly ">

<div class="mb-5 w-25 ">
  <h3>Programming Languages</h3>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

 <div class="w-50">
  <div class="progress mb-3 ">
    <div class="progress-bar" role="progressbar" style="width: 90%;">HTML</div>
  </div>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 80%;">CSS</div>
  </div>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 70%;">JavaScript</div>
  </div>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 86%;">React Js</div>
  </div>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 90%;">Angular</div>
  </div>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 80%;">Vue Js</div>
  </div>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 69%;">Node Js</div>
  </div>
 </div>
</div>
</div>
